/* 기본설정 */
html{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

html,body,header,section{
    width: 100%;
}

*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* 메뉴 영역 */
header{
    position: relative;
    height: 60px;
    background: #000;
}

#menu_icon{
    position: absolute;
    top: 21.6px;
    left: 3%;
    width: 24px;
    height: auto;
}

#logo img{
    position: absolute;
    width: 57px;
    height: auto;
    top: 16.5px;
    left: 0;
    right: 0;
    margin: auto;
}

/* 메뉴 네비게이션 */
#menu_wrap{
    position: absolute;
    top:60px;
    left: -100%;
    width: 85%;
    height: 896px;
    background:#000;
    z-index: 2;
}

/* 닫기 버튼 */
#close_btn{
    position: absolute;
    right: -15%;
    width:15%;
    height: 40px;
    z-index: 10;
    float:left;
}

#close_btn a{
    display: block;
    width: 100%;
    height: 100%;
}

#t_stick{
    position: absolute;
    top:50%;
    left:50%;
    display: block;
    width: 2px;
    height: 60%;
    border-radius: 45px;
    transform: translateY(-50%) rotate(-45deg);
    background: #fff;
    box-sizing: border-box;
}

#b_stick{
    position: absolute;
    top:50%;
    left:50%;
    display: block;
    width: 2px;
    height: 60%;
    border-radius: 45px;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
    box-sizing: border-box;
}

/* 로그인 회원가입 버튼 */
#menu_list{
    position: relative;
    width: 100%;
    height: 45px;
    border:1px solid rgb(109, 108, 108);
    border-right: none;
    box-sizing:border-box;
    z-index: 5;
}

#menu_list li{
    float: left;
    width: 33.333%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid rgb(109, 108, 108);
    box-sizing:border-box;
}

#menu_list li a{
    font-size: 1.2rem;
    font-weight: 400;
    color:rgb(228, 227, 227);
}

/* 메뉴 시작 */
#mobile_menu{
    position: relative;
    width:100%;
    z-index: 5;
}

#mobile_menu ul{
    height: 500px;
    overflow-y: scroll;
}

#mobile_menu ul li{
    height: 87px;
}

/* 7번째 이후 li의 배경색 회색으로 지정 */
#mobile_menu ul li:nth-child(n+7){
    background:rgb(19, 19, 19);
}


#mobile_menu ul li a{
    display:block;
    width:100%;
    height: 100%;
    text-align: center;
    line-height: 87px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

/* 2~4번째 li의 글씨 굵기 굵게 */
#mobile_menu ul li:nth-child(2) a, #mobile_menu ul li:nth-child(3) a,#mobile_menu ul li:nth-child(4) a{
    font-weight: 900;
}


/* 메인 영역 */
#main{
    height: auto;
}

#main img{
    display: block;
    width: 100%;
    height: auto;
}


/* about 영역 */
#about{
    position: relative;
}


#about img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

#about_txtbox{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
}

#about_tit{
    font-size: 2.5rem;
    font-weight: 700;
    color:#fff;
}


#about_subtit{
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    display:block;
    margin-bottom: 15px;
}

#more_btn{
    display:inline-block;
    width: 87px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    background: #d41220;
    color:#fff;
    font-size: 1.3rem;
    font-weight: 400;
}

/* campaign 영역 */
#campaign{
    padding: 53px 22px 22px 22px;
    margin-bottom: 70px;
    box-sizing: border-box;
    background:rgb(39, 39, 39);
}

.campaign_txtbox{
    position: relative;
    background: #000;
    padding: 30px 13px;
    box-sizing: border-box;
}

/* 데코 구분선 */
.campaign_txtbox .campagin_tit_deco{
    position: absolute;
    width: 5px;
    height: 58.8px;
    background: #d41220;
}

.campaign_txtbox .campaign_tit{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.campaign_txtbox p{
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    padding-left:20px;
}

#campaign ul li {
    margin-bottom: 22px;
}

#campaign ul li:last-child{
    margin: 0;
}

#campaign ul li img{
    display: block;
    width: 100%;
}



/* new arrival 영역 */

#new_arrival{
    padding: 0 22px 100px 22px;
    box-sizing: border-box;
}

#new_arrival h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align:center;
    margin-bottom: 30px;
}

#new_arrival img{
    display: block;
    width: 100%;
}


/* new arrival 제품 슬라이드 */
#product_wrap{
    width: 100%;
    height: auto;
    overflow-x: scroll;
}

#product{
    width:190%;
    height: auto;
}

#product li{
    width: 20%;
    padding-right: 11px;
    box-sizing: border-box;
    float: left;
}

#product li img{
    width: 100%;
    height: auto;
}

.product_tit{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.product_price{
    font-size: 1.1rem;
    font-weight: 700;
}


/* fooer 영역 */
footer{
    padding: 30px 22px;
    background: #000;
}

footer img{
    width: 9%;
    height: auto;
    margin-bottom: 20px;
}

footer ul{
    width: 220px;
    margin-bottom: 30px;
}

footer ul li{
    position: relative;
    width:28%;
    float: left;
}

footer ul li:last-child{
    width: 44%;
}

footer ul li a{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

footer p{
    clear: both;
    font-size: 1.2rem;
    font-weight: 500;
    color:#fff;
    line-height: 1.7;
}

#footer_txt{
    margin-top: 10px;
}
